.row {
  button {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

img {
  max-width: 100%;
}
